body { 
  margin: 0;
  padding: 0;
  width: 100%; 
  height: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.navbarmenu {
  justify-items: left;
}

img {
  width: 100%; 
  height: auto;
}

footer {
  color: white;
  background-color: #3F51B5;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 31px;
}

.navbar {
  color: white;
  background-color: #3F51B5;
}

.icon-button {
  color: white;
  display: flex;
  align-items: center;
}

h6 {
  font-size: smaller;
  margin: 0;
}

.row {
  --bs-gutter-y: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 10px;
}

.dropdown-menu {
  --bs-dropdown-padding-x: 0.5rem;
}

@media screen and (max-width: 600px) {
  .row {
      justify-content: center;
  }
}