<!-- Header -->
<header>
  <div>
    <mat-toolbar color="primary" (resize)="onresize()" [ngClass]="[navbarfixed ? 'fixed' : 'notfixed', viewtype? 'mobileview' : 'notmobileview']">
      <a mat-icon-button href="" style="color: white">
        <mat-icon>home</mat-icon>
      </a>
      <span [hidden]="viewtype === false">
        <button mat-icon-button [matMenuTriggerFor]="menu"> 
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <span class="navbarcontents">
        <span [hidden]="viewtype === true">
          <button mat-stroked-button style="color: white;" [matMenuTriggerFor]="menu"><b>Alkatrészek</b></button>
          <button mat-stroked-button style="color: white;"><b>Szolgáltatások</b></button>
          <button mat-stroked-button style="color: white;"><b>Vásárlási információk</b></button>
          <button mat-stroked-button style="color: white;"><b>Elérhetőség</b></button>
          <mat-form-field class="large-height-input">
            <input matInput placeholder="Keresés" style="position: relative; top: -0.525em;">
            <mat-icon matSuffix color="primary" style="position: relative; top: -0.435em;">search</mat-icon>
          </mat-form-field>
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Autóhifi</button>
          <button mat-menu-item>Biztonsági alkatrészek</button>
          <button mat-menu-item>Elektromos alkatrészek</button>
          <button mat-menu-item>Fényszórók, lámpák</button>
          <button mat-menu-item>Fék és futómű alkatrészek</button>
          <button mat-menu-item>Karosszéria elemek</button>
          <button mat-menu-item>Klíma, fűtés</button>
          <button mat-menu-item>Kuplung, sebességváltó</button>
          <button mat-menu-item>Motoralkatrészek</button>
          <button mat-menu-item>Utastér, csomagtér, egyéb</button>
          <button mat-menu-item>Üzemanyag ellátó rendszer</button>
        </mat-menu>
      </span>
      <span [hidden]="viewtype === false">
        <mat-form-field class="small-height-input">
          <input matInput placeholder="Keresés" style="position: relative; top: -0.65em;">
        </mat-form-field>
        <button mat-icon-button style="position: relative; top: 0.25em;">
          <mat-icon>search</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>
</header>
  
  <!-- Body -->
  <body>
    <img src="assets\20170822_180636.jpg">
  </body>
  
  <footer>
    <mat-toolbar color="primary">
    </mat-toolbar>
  </footer>  