<!-- Header -->
<header>
  <div>
    <nav class="navbar">
      <div class="d-flex justify-content-start align-items-center">
        <a mat-icon-button href="" class="icon-button">
          <mat-icon>home</mat-icon>
        </a>
        <span fxHide.gt-sm>
          <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu"> 
            <mat-icon>menu</mat-icon>
          </button>
        </span>
        <span fxHide.lt-md>
          <button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu"><b>Alkatrészek</b></button>
          <button type="button" class="btn btn-primary"><b>Szolgáltatások</b></button>
          <button type="button" class="btn btn-primary"><b>Vásárlási információk</b></button>
          <button type="button" class="btn btn-primary"><b>Elérhetőség</b></button>
        </span>
      </div>
      <div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of kategoriaList$ | async"
           (click)="setCategoryPage(item.nev)">{{item.nev}}</button>
        </mat-menu>
        <ng-container *ngIf="alkatreszList$">
          <app-search-bar #searchBar [alkatreszList$]="alkatreszList$"></app-search-bar>
        </ng-container>
      </div>
    </nav>
  </div>
</header>
  
<!-- Body -->
<body>
  <img *ngIf="!(showCategoryPage$ | async)" src="assets\20170822_180636.jpg">
    <app-category-page *ngIf="(showCategoryPage$ | async) && filteredAlkatreszek$" [alkatreszList$]="filteredAlkatreszek$"></app-category-page>
</body>

<!--Footer-->
<footer>
  <nav class="footer">
    <h6>2023 Ford Focus C-Max Bontó</h6>
  </nav>
</footer>  