body { 
  margin: 0;
  padding: 0;
  width: 100%; 
  height: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.navbarmenu {
  justify-items: left;
}

img {
  width: 100%; 
  height: auto;
}

footer {
  color: white;
  background-color: #3F51B5;
  padding: 0.5rem;
}

.navbar {
  color: white;
  background-color: #3F51B5;
}

.icon-button {
  color: white;
  display: flex;
  align-items: center;
}

#rights-notice h6 {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

#kapcsolat {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

#kapcsolat h6 {
  font-size: 0.9rem;
}

.row {
  --bs-gutter-y: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 10px;
}

.dropdown-menu {
  --bs-dropdown-padding-x: 0.5rem;
}

#search-failure-alert {
  display:flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

#search-failure-alert-type-err {
  display:flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
}

@media screen and (max-width: 600px) {
  .row {
      justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  #rights-notice h6 {
    font-size: 0.75rem;
  }
  #kapcsolat h6 {
    font-size: 0.75rem;
  }
}