<!-- Header -->
<header>
  <div>
    <nav class="navbar">
      <div class="d-flex justify-content-start align-items-center">
        <a mat-icon-button href="" class="icon-button">
          <mat-icon>home</mat-icon>
        </a>
        <span fxHide.gt-sm>
          <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu"> 
            <mat-icon>menu</mat-icon>
          </button>
        </span>
        <span fxHide.lt-md>
          <button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu"><b>Alkatrészek</b></button>
          <button type="button" class="btn btn-primary"><b>Szolgáltatások</b></button>
          <button type="button" class="btn btn-primary"><b>Vásárlási információk</b></button>
          <button type="button" class="btn btn-primary"><b>Elérhetőség</b></button>
        </span>
      </div>
      <div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Autóhifi</button>
          <button mat-menu-item>Biztonsági alkatrészek</button>
          <button mat-menu-item>Elektromos alkatrészek</button>
          <button mat-menu-item>Fényszórók, lámpák</button>
          <button mat-menu-item>Fék és futómű alkatrészek</button>
          <button mat-menu-item>Karosszéria elemek</button>
          <button mat-menu-item>Klíma, fűtés</button>
          <button mat-menu-item>Kuplung, sebességváltó</button>
          <button mat-menu-item>Motoralkatrészek</button>
          <button mat-menu-item>Utastér, csomagtér, egyéb</button>
          <button mat-menu-item>Üzemanyag ellátó rendszer</button>
        </mat-menu>
        <ng-container *ngIf="alkatreszList$">
          <app-search-bar #searchBar [alkatreszList$]="alkatreszList$"></app-search-bar>
        </ng-container>
      </div>
    </nav>
  </div>
</header>
  
<!-- Body -->
<body>
  <img src="assets\20170822_180636.jpg">
</body>

<!--Footer-->
<footer>
  <nav class="footer">
    <h6>2023 Ford Focus C-Max Bontó</h6>
  </nav>
</footer>  