<form id="add-edit-alkatresz-form">
    <div class="mb-3">
        <label for="nevInput" class="form-label">Név</label>
        <input type="text" class="form-control" [class.is-invalid]="!nev" id="nevInput" [(ngModel)]="nev" name="nevInput">
        <label for="nevInput" *ngIf="!nev">Név megadása kötelező!</label>
    </div>
    <div class="input group mb-3"> 
        <label for="kategoriakOutput" class="form-label">Kategóriák</label>
        <input type="text" class="form-control" id="kategoriakOutput" [value]="kategoriak" name="kategoriakOutput" readonly>
        <select class="form-control" name="kategoriakInput" id="kategoriakInput" [(ngModel)]="kategoriakInput" multiple>
            <option *ngFor="let type of kategoriaList$|async" [value]="type.nev">{{type.nev}}</option>
        </select>
        <label for="autoTipusokInput" class="form-label">Típusok</label>
        <select class="form-control" name="autoTipusokInput" id="autoTipusokInput" [(ngModel)]="autoTipusokInput" multiple>
            <option *ngFor="let type of autoTipusList$|async" [value]="type.nev">{{type.nev}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="arInput" class="form-label">Ár</label>
        <input type="number" class="form-control" id="arInput" [(ngModel)]="ar" name="arInput">
    </div>
    <div class="mb-3">
        <label for="megjegyzesInput" class="form-label">Megjegyzés</label>
        <input class="form-control" id="megjegyzesInput" [(ngModel)]="megjegyzes" name="megjegyzesInput">
    </div>
    <div class="mb-3">
        <label for="generacioInput" class="form-label">Generáció</label>
        <input class="form-control" id="generacioInput" [(ngModel)]="generacio" name="generacioInput">
    </div>
    <div class="input-group mb-3">
        <input class="form-control" type="file" id="formFileMultiple" [(ngModel)]="kepekInput" name="kepekInput" multiple #fileInput>
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03"
        (click)="uploadImages()" [disabled]="kepekInput.length === 0">Képek feltöltése</button>
    </div>
    <div *ngIf="activateImagePreview" class="image-container">
        <ng-container *ngFor="let img of kepek.split(';')">
          <div style="padding: 0px 5px 5px 0px;">
            <img class="img-thumbnail" [src]="'https://localhost:7094/images/' + img" style="max-height: 100px;">
          </div>
        </ng-container>
    </div>
    <button (click)="addAlkatresz()" *ngIf="alkatresz.id === 0" class="btn btn-primary" [disabled]="nev.length === 0">
        Hozzáadás
    </button>
    <button (click)="updateAlkatresz()" *ngIf="alkatresz.id !== 0" class="btn btn-primary">
        Módosítás
    </button>
</form>
