  .carousel-item {
    height: 400px !important;
    width: 100% !important;
    margin-bottom: var(--bs-gutter) !important;
  }
  
  .carousel-item.reactive img {
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
    transition: transform 0.2s;
  }

  .carousel-item.reactive img.hovered {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
  }

  .carousel-item.reactive:hover img {
    transform: scale(1.1);
  }

  .align-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .carousel-control-next {
    width: 5% !important;
    right: 50px !important;
  }

  .carousel-control-prev {
    width: 5% !important;
    left: 50px !important;
  }

  .carousel-control {
    transition: .05s ease;
  }

  .modal {
    --bs-modal-border-radious: 10px !important;
    --bs-modal-padding: 5px !important;
    --bs-modal-border-color: darken(&primary, 10%) !important;
  }

  .modal-xl {
    --bs-modal-width: 1024px;
  }

  .modal-dialog .carousel-item{
    height: 100% !important;
  }

  .modal-dialog .carousel-item img {
    width: 1024px !important;
    height: 768px !important;
  }

  .progress-container {
    position: relative;
  }
  
  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }
  
  .spinner-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -600%);
  }

  .carousel-caption h5{
    text-shadow: 0px 0px 2px black;
  }

  .carousel-caption p{
    text-shadow: 0px 0px 2px black;
  }

  @media (max-width: 767px) {
    .carousel-caption {
      width: auto !important;
      max-width: 100% !important;
      text-align: center !important;
      display: block !important;
    }
  }