#add-success-alert,
#update-success-alert,
#delete-success-alert {
    display:none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-success-alert,
#update-success-alert,
#delete-success-alert {
   animation-name: fadeInAndOut;
   animation-duration: 4s;
}

#logoutModal .modal-body {
    font-weight: 500;
    text-align: center;
    font-size: x-large;
}

#logoutModal .modal-footer {
    justify-content: center;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.navbar {
    color: white;
    background-color: #3F51B5;
  }

td {
    padding: 0;
}